@mixin generateIcon($src) {
  -webkit-mask-image: url($src);
  mask-image: url($src);
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
}

.icon-row {
  @include generateIcon(
    'https://api.iconify.design/fluent/row-triple-20-regular.svg'
  );
}

.icon-add {
  @include generateIcon('https://api.iconify.design/material-symbols/add.svg');
}

.icon-arrow-right {
  @include generateIcon(
    'https://api.iconify.design/ic/baseline-arrow-forward-ios.svg'
  );
}

.icon-arrow-left {
  @include generateIcon(
    'https://api.iconify.design/ic/baseline-arrow-back-ios-new.svg'
  );
}

.icon-arrow-top {
  @include generateIcon('https://api.iconify.design/mdi/arrow-up.svg');
}

.icon-arrow-down {
  @include generateIcon('https://api.iconify.design/mdi/arrow-down.svg');
}

.icon-bars {
  @include generateIcon(
    'https://api.iconify.design/heroicons/bars-3-20-solid.svg'
  );
}

.icon-home {
  @include generateIcon('https://api.iconify.design/mdi/home-outline.svg');
}

.icon-file {
  @include generateIcon('https://api.iconify.design/mdi/file-outline.svg');
}

.icon-calender {
  @include generateIcon(
    'https://api.iconify.design/material-symbols/date-range.svg'
  );
}

.icon-analysis {
  @include generateIcon(
    'https://api.iconify.design/mdi/chart-bell-curve-cumulative.svg'
  );
}

.icon-setting {
  @include generateIcon(
    'https://api.iconify.design/material-symbols/settings.svg'
  );
}

.icon-help {
  @include generateIcon(
    'https://api.iconify.design/material-symbols/help-outline.svg'
  );
}

.icon-close {
  @include generateIcon(
    'https://api.iconify.design/material-symbols/close.svg'
  );
}

.icon-timer {
  @include generateIcon(
    'https://api.iconify.design/material-symbols/timer-outline-rounded.svg'
  );
}

.icon-check {
  @include generateIcon(
    'https://api.iconify.design/material-symbols/check.svg'
  );
}

.icon-search {
  @include generateIcon(
    'https://api.iconify.design/material-symbols/search.svg'
  );
}

.icon-notification {
  @include generateIcon(
    'https://api.iconify.design/material-symbols/notifications-outline.svg'
  );
}

.icon-chevron-up {
  @include generateIcon('https://api.iconify.design/mdi/chevron-up.svg');
}

.icon-chevron-down {
  @include generateIcon('https://api.iconify.design/mdi/chevron-down.svg');
}
