@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Noto Sans KR';
  src: url('~/assets/fonts/NotoSansKR-Bold.woff2') format('woff2'),
    /* 원하는 폰트 파일 형식을 지정합니다. */
      url('~/assets/fonts/NotoSansKR-Bold.ttf') format('truetype'); /* 여러 형식의 폰트 파일을 지정할 수 있습니다. */
  font-weight: bold; /* 해당 폰트의 두께를 지정합니다. */
  font-style: normal; /* 해당 폰트의 스타일을 지정합니다. */
}

/* 필요에 따라 Regular 버전에 대해서도 같은 작업을 수행합니다. */
@font-face {
  font-family: 'Noto Sans KR';
  src: url('~/assets/fonts/NotoSansKR-Regular.woff2') format('woff2'),
    url('~/assets/fonts/NotoSansKR-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import 'icon';

* {
  font-family: 'Noto Sans KR', sans-serif;
  color: rgb(71 85 105);
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

select {
  appearance: none;
  background: url('~/assets/images/icons/chevron-down.svg') no-repeat 95% 50%/15px
    auto;
  padding: 2px;
  padding-right: 18px !important;
}
select.dark {
  background-image: url('~/assets/images/icons/chevron-down-dark.svg');
}

input[type='date'] {
  &.dark {
    &::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }
  }
}

input[type='time'] {
  &.dark {
    &::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }
  }
}

.truncate-2 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.truncate-3 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.truncate-4 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 300ms;
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
}
