@use 'icon';
@use 'transition';
@use 'carousel';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  &.dark {
    --bg-theme-1: #1e293b;
    --bg-theme-2: #020617;
    --bg-theme-3: #0f172a;
    --text-theme: #fff;
    --border-color-theme: #334155;
  }
  &:not(.dark) {
    --bg-theme-1: #fff;
    --bg-theme-2: #fff;
    --bg-theme-3: #fff;
    --text-theme: #1e293b;
    --border-color-theme: #e5e7eb;
  }
}

* {
  font-family: 'Noto Sans KR', system-ui, sans-serif;
  color: rgb(71 85 105);
  -webkit-font-smoothing: antialiased;

  > * {
    color: inherit;
  }
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

select {
  appearance: none;
  background: url('~/assets/images/icons/chevron-down.svg') no-repeat 95% 50%/15px
    auto;
  padding: 2px;
  padding-right: 18px !important;
}
select.dark {
  background-image: url('~/assets/images/icons/chevron-down-dark.svg');
}

input[type='date'] {
  &.dark {
    &::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }
  }
}

input[type='time'] {
  &.dark {
    &::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }
  }
}

.truncate-2 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.truncate-3 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.truncate-4 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.safe-area-bottom {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

.safe-area-margin-bottom {
  margin-bottom: constant(safe-area-inset-bottom);
  margin-bottom: env(safe-area-inset-bottom);
}

.pcbr {
  display: none;
  @media (min-width: 1024px) {
    display: block;
  }
}

.mobr {
  @media (min-width: 1024px) {
    display: none;
  }
}
