.select-options-bottom-enter-active,
.select-options-bottom-leave-active {
  transition: opacity 150ms ease, bottom 150ms ease;
}

.select-options-bottom-enter-from,
.select-options-bottom-leave-to {
  opacity: 0;
  bottom: 10px !important;
}

.select-options-top-enter-active,
.select-options-top-leave-active {
  transition: opacity 150ms ease, top 150ms ease;
}
.select-options-top-enter-from,
.select-options-top-leave-to {
  opacity: 0;
  top: -10px !important;
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition: opacity 300ms ease, transform 300ms ease;
}

.slide-up-enter-from,
.slide-up-leave-to {
  opacity: 0;
  transform: translate(0, 15px);
}

.slide-right-enter-active,
.slide-right-leave-active {
  transition: transform 300ms ease;
}

.slide-right-enter-from,
.slide-right-leave-to {
  transform: translate(100%);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 300ms ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  position: absolute;
}
